/***************
GENERAL
***************/

#city {
	font-size: 3em;
}

.temperature {
	display: inline-block;
	margin: 8px;
}

p {
	font-size: 1.4em;
	font-weight: bold;
}

.temperature_div {
	display: inline-block;
	background: #478dce;
	border-radius: 10px;
}
